node_modules/
dist/
*.tsbuildinfo

# Test apps and temp folders
test-app/
my-final-test/
real-zero-test/
v12-test/
nitron-test-app/
real apk app for test/
test-extract/
test-icon/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
test-backend/

# Local build artifacts
local-jdk/
template-build/
*.tgz
